{{#each users}}
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <h5 class="card-title">
          #{{rank}} {{username}}
        </h5>
        <p class="card-text">
          Posts: {{post_count}}
        </p>
      </div>
    </div>
  </div>
{{/each}}