<script>
function waitForGoogleMaps(cb) {
  const i = setInterval(() => {
    if (window.google && window.google.maps) {
      clearInterval(i);
      cb();
    }
  }, 50);
}

waitForGoogleMaps(initMainMap);
</script>


<div class="map-page">
  <div id="map" style="height: 100vh; width: (100vw-58px);"></div>

<script src="/js/mapRenderer.js"></script>
<script src="/js/map.js"></script>

</div>