<h2 class = "container mb-3">SUMBIT A BUG</h2>

<div class="container p-4">
<form id="submit" action = "/submit" method = "POST">

    <div class="mb-3"> 
        <label for="Common_Name" class="form-label"> Bug Common Name </label>
        <input
         type="text" 
         class="form-control" 
         id="Bug Common Name" 
         aria-describedby="Bug Common Name" 
         placeholder= "Bug Common Name" 
         name="common_name" required>
    </div>

    <div class="mb-3"> 
        <label for="genus" class="form-label"> genus </label>
        <input
         type="text" 
         class="form-control" 
         id="Genus" 
         aria-describedby="Genus" 
         placeholder= "genus" 
         name="genus" required>
    </div>

     <div class="mb-3"> 
        <label for="color" class="form-label"> color </label>
        <input
         type="text" 
         class="form-control" 
         id="Color" 
         aria-describedby="Color" 
         placeholder= "Color" 
         name="color" required>
    </div>

    <div>
      <label id="geoCoordsLabel" class="form-label"> Geo Coords: </label>
    </div>
    

    <!-- <input type="image" name="image" accept="image" /> -->

    <button type="submit" class="btn btn-primary" id="submitButton" style="background-color:green; border-color:green">Submit</button>

    <input type="hidden" name="label_value" id="hiddenInputLatitude" required>
    <input type="hidden" name="label_value" id="hiddenInputLongitude" required>
</form>


<div id= "demo"></div>
  </div>

<script type="text/javascript">
  window.onload = getLocation;

  function getLocation(){
    document.getElementById("submitButton").disabled = true;
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(success, error);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function success(position) {
    document.getElementById("submitButton").disabled = false;
    document.getElementById("geoCoordsLabel").innerHTML = ("Geo Coords: " + position.coords.latitude + "," + position.coords.longitude);
  }

  function error() {
    document.getElementById("submitButton").disabled = true;
    alert("Location data unacessable");
  }

  document.getElementById("submitButton").addEventListener('submit', () => {

    document.getElementById('hiddenInputLatitude').value = position.coords.latitude;
    document.getElementById('hiddenInputLongitude').value = position.coords.longitude;
  });
</script>