<nav class="navbar">
<header id="nav-container">
  <ul class="navbar-nav">
    {{#each links}}
      <li class = "nav-item"><a class = "navlink" href="{{url}}">{{name}}</a></li>
    {{/each}}
  </ul>
</header>
</nav>